@model nexumApp.Models.Filial
@{
    ViewData["Title"] = "Cadastrar filial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/filials.css" />
<div class="FilialCadastro container d-flex align-items-center">
    <div class="row w-100 justify-content-center">
    <h1 class="FilialCadastro-title text-center mb-3">Cadastrar filial</h1>
    <h4 class="FilialCadastro-subtitle text-center mb-3">Cadastre abaixo uma filial da ONG matriz</h4>
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">
            <div class="FilialCadastro-container">
                <div>
                    <div class="row">
                        <div class="mb-3">
                            <form asp-action="Create" enctype="multipart/form-data">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                @* CEP *@
                                <div class="mb-3">
                                    <label asp-for="CEP" class="control-label FilialCadastro-label"></label>
                                    <input id="inputCEP" type="text" maxlength="8" asp-for="CEP" class="form-control FilialCadastro-input" id="inputCEP" placeholder="Somente números"/>
                                    <span id="inputCEPValidation" asp-validation-for="CEP" class="text-danger" id="inputCEPValidation"></span>
                                </div>


                                <div class="mb-3">
                                    <label asp-for="Endereço" class="control-label FilialCadastro-label"></label>
                                    <input id="inputEndereço" readonly asp-for="Endereço" class="form-control FilialCadastro-input" />
                                    <span asp-validation-for="Endereço" class="text-danger"></span>
                                </div>
                                @* COMPLEMENTO *@
                                <div class="mb-3">
                                    <label asp-for="Complemento" class="control-label FilialCadastro-label"></label>
                                    <input asp-for="Complemento" class="form-control FilialCadastro-input"/>
                                    <span asp-validation-for="Complemento" class="text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="CNPJ" class="control-label FilialCadastro-label" ></label>
                                    <input maxlength="14" asp-for="CNPJ" class="form-control FilialCadastro-input" placeholder="Somente números" />
                                    <span asp-validation-for="CNPJ" class="text-danger"></span>
                                </div>
                                <div class="mb-3">
                                    <input type="submit" name="Action" value="Continuar" class="w-100 btn btn-lg btn-primary FilialCadastro-button-continue" />
                                </div> 
                                <div class="mb-3">
                                    <input type="submit" name="Action" value="Finalizar" class="w-100 btn btn-lg btn-primary FilialCadastro-button" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        <p class="FilialCadastro-message">@ViewBag.Message</p>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        let inputCEP = document.getElementById("inputCEP")
        let inputCEPValidation = document.getElementById("inputCEPValidation")
        let inputEndereço = document.getElementById("inputEndereço")

        const fillAddress = (data) => {
            if(data.erro) {
                return inputCEPValidation.textContent = "CEP inválido"
            }
            
            const { logradouro, bairro, localidade, uf } = data
            const address = `${logradouro} - ${bairro}, ${localidade} - ${uf}`
            inputEndereço.value = address
        }

        const fetchCEP = (CEP) => {
         URL = `https://viacep.com.br/ws/${CEP}/json/`
         fetch(URL)
         .then(res => res.json())
         .then(data => fillAddress(data))
         .catch(err => {
            console.log(err)
        }) 
        }

        inputCEP.addEventListener("focusout", () => {
            let isNum =  /^\d+$/.test(inputCEP.value)
            inputCEPValidation.textContent = ""
            if(!inputCEP.value) {
                console.log('teste 1')
                inputEndereço.value = ""
                return inputCEPValidation.textContent = "Obrigatório informar o CEP!"
            }
            if(inputCEP.value.length < 8 || !isNum) {
                console.log('teste 2')
                inputEndereço.value = ""
                return inputCEPValidation.textContent = "O CEP deve conter 8 números"
            }
            console.log("teste 3")
                fetchCEP(inputCEP.value)
        })
     </script>
}

