dt {
    font-size: 20px;
    font-weight: 600;
}

dd {
    font-size: 16px;
}

.btn-outline-primary {
    color: #ffffff;
    background-color: #2987bf;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    margin-top: 10px;
    padding: 5px 20px;
    font-size: 17px;
}

.btn-outline-primary:hover {
    background-color: #16435D;
    color: #ffffff;
}



