<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Nexum</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/nexumApp.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
   @*  <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Nexum - <a asp-area="" asp-controller="Home" asp-action="About">Sobre</a>
        </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden; 
        }

        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }


        .container, .row, .col, main {
            margin: 0 !important;
            padding: 0 !important;
            max-height: 100vh;
            overflow: hidden;
        }


        .card {
            overflow: hidden;
            box-shadow: none; 
        }

        h1, h4, hr {
            margin-top: 0 !important;
            margin-bottom: 0.5rem !important;
        }
    </style>

</body>
</html>
