@inject SignInManager<User> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext) manage-menu-item" id="change-password" asp-page="./ChangePassword">Mudar senha</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)  manage-menu-item" id="personal-data" asp-page="./PersonalData">Excluir conta</a></li>
</ul>


<style>
    h1, h2, h3 {
        color: #16435D !important;
    }
    h1 {
        margin-top: 50px;
    }
    .active {
        background-color: #16435D !important; 
    }
    .mudar-senha {
        background-color: #2987BF !important;
    }

</style>
