@page
@model LoginModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="min-vh-100 d-flex align-items-center justify-content-center overflow-hidden">
    <div class="container py-0">
        <div class="row w-100 justify-content-center g-0">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-sm border-0 m-0">
                    <div class="card-body p-4 p-md-5">
                        <h1 class="text-center mb-3">@ViewData["Title"]</h1>
                        <div class="row">
                            <section>
                                <form id="account" method="post" autocomplete="off">
                                    <h4 class="text-center mb-3">Use uma conta Nexum para logar</h4>
                                        <hr />
                                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                        <div class="mb-3">
                                            <label asp-for="Input.Email" class="form-label">Email</label>
                                            <input asp-for="Input.Email" class="form-control Login-input" autocomplete="username" aria-required="true" placeholder="email@exemplo.com" />
                                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                                        </div>
                                        <div class="mb-3">
                                            <label asp-for="Input.Password" class="form-label">Senha</label>
                                            <div class="password-container">
                                                <input asp-for="Input.Password"
                                                   class="form-control Login-input"
                                                   id="loginPassword"
                                                   autocomplete="current-password"
                                                   aria-required="true" />
                                                    <span class="show-btn" onclick="toggleSenha('loginPassword', this)">Mostrar</span>
                                            </div>
                                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                                        </div>
                                        <div class="checkbox mb-3">
                                            <label asp-for="Input.RememberMe" class="form-label">
                                                <input class="form-check-input" asp-for="Input.RememberMe" />
                                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                                            </label>
                                        </div>
                                        <div>
                                            <button id="login-submit" type="submit" class="w-100 btn btn-lg">Fazer Login</button>
                                        </div>
                                    <div class="text-center mb-3">
                                        <p>
                                            <button type="button" class="btn-link-register" onclick="location.href='@Url.Page("./Register", new { returnUrl = Model.ReturnUrl })'">Ainda não tem cadastro?</button>
                                        </p>
                                    </div>
                                    <div class="text-center mb-3">
                                        <p>
                                            <button type="button" class="btn-link-password" onclick="location.href='/RedefinicaoSenha'">Esqueceu a senha?</button>
                                        </p>
                                    </div>
                                    </form>
                            </section>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
