@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Aguardando aprovação";
}

<div class="text-center mt-5">
    <img src="~/images/ampulheta.png" alt="Aguardando aprovação" class="mb-4" style="max-width:120px; height:auto;" />
    <h1 class="text-muted">Aguardando aprovação de cadastro da ONG</h1>
    <p class="text-muted mt-3">Assim que um administrador aprovar, seu acesso ao perfil será liberado.</p>
</div>

